<template name="footer" xmlns="http://www.w3.org/1999/html">
    <!-- +++++ Footer Section +++++ -->

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4></h4>
                    <p>
                        <br/>
                        Los Angeles, California
                    </p>
                </div><!-- /col-lg-4 -->

                <div class="col-lg-4">
                    <p>
                        <a href="https://www.linkedin.com/in/flanderos"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
                        <a href="https://github.com/e-landeros"><i class="fa fa-github fa-3x" ></i></a>
                        <br/>
                        <a href="/admin" class="admin-btn">Admin</a>
                    </p>
                </div><!-- /col-lg-4 -->

                <div class="col-lg-4">
                    <h3>About this site</h3>
                    <p>This site was created using <a href="https://www.meteor.com/">Meteor.JS</a> using an OOP approach. All the features are templated and the code is available on my github. </p>
                </div><!-- /col-lg-4 -->

            </div>
        </div>
    </div>
</template>